@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: "IBM Plex Sans Thai";
    --font-mono: "IBM Plex Mono";

    --hackathon-primary: #ff0909;
    --hackathon-background: #171717;
  }
}

@keyframes claimLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes claimRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}

@keyframes flash {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes whirlpoolLeft {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  50% {
    transform: translate(0, -100%) rotate(-180deg);
  }
  75% {
    transform: translate(50%, -50%) rotate(-270deg);
  }
  100% {
    transform: translate(0, 0) rotate(-360deg);
  }
}

@keyframes whirlpoolRight {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(50%, 50%) rotate(90deg);
  }
  50% {
    transform: translate(0, 100%) rotate(180deg);
  }
  75% {
    transform: translate(-50%, 50%) rotate(270deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}

.animate-claimLeft {
  animation: claimLeft 1.5s forwards;
}

.animate-claimRight {
  animation: claimRight 1.5s forwards;
}

.animate-flash {
  animation: flash 1s forwards;
}

.animate-explode {
  animation: explode 1s forwards;
}

.animate-whirlpoolLeft {
  animation: whirlpoolLeft 2s forwards;
}

.animate-whirlpoolRight {
  animation: whirlpoolRight 2s forwards;
}

.ticket-claimed-left {
  background: linear-gradient(to bottom right, #00FF00, #FFFF00, #0000FF);
  box-shadow: 0 0 50px rgba(0, 255, 0, 0.9);
}

.ticket-claimed-right {
  background: linear-gradient(to bottom right, #FF0000, #FF4500);
  box-shadow: 0 0 50px rgba(255, 0, 0, 0.9);
}